{% extends 'base.html.twig' %}

{% block title %}Modifier le genre{% endblock %}

{% block body %}
    <h1>Modifier un genre</h1>
    <div class="mb-3">
        <a href="{{ path('app_back_genre_index') }}" ><i class="bi bi-arrow-left-circle"></i>
Retour à la liste des genres</a>
    </div>
    {{ include('back/genre/_form.html.twig', {'button_label': 'Modifier'}) }}

    {{ include('back/genre/_delete_form.html.twig') }}
{% endblock %}
