{% extends 'back/layout/layout.html.twig' %}

{% block title %}Modifier un film{% endblock %}

{% block subBody %}
    <h1>Modifier un film</h1>

    <div>
        {{ include('back/movie/_form.html.twig', {'button_label': 'Modifier'}) }}
        {{ include('back/movie/_delete_form.html.twig') }}
    </div>

    <div class="mt-3">
        <a href="{{ path('app_back_movie_home') }}">back to list</a>
    </div>

    
{% endblock %}
