{% extends 'back/layout/layout.html.twig' %}

{% block title %}Nouveau film{% endblock %}

{% block subBody %}
    <h1>Nouveau film</h1>

    {{ include('back/movie/_form.html.twig') }}

    <div class="mt-3">
        <a class="btn btn-success" href="{{ path('app_back_movie_home') }}">Retour liste</a>
    </div>

{% endblock %}


