{% extends 'base.html.twig' %}

{% block title %}Editer un utilisateur{% endblock %}

{% block body %}

<h1>Changer de mot de passe </h1>

{% include "fragments/_flash_message.html.twig" %}

{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-success mb-2">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}

{% endblock %}

