{% extends "back/user/layout/layout.html.twig" %}

{% block title %}Créer un utilisateur{% endblock %}

{% block subBody %}
    <h1>Créer un utilisateur</h1>

        {{ include('back/user/_form.html.twig') }}

    <div class="mt-3">
    <a class="btn btn-success" href="{{ path('app_back_user_list') }}">Retourner à la liste des utilisateurs</a>

    </div>
{% endblock %}