{% extends 'base.html.twig' %}

{% block title %}Edit Director{% endblock %}

{% block body %}
    <h1>Modifier un Réalisateur</h1>
    <div class="mb-3">
        <a href="{{ path('app_back_director_index') }}" >Retour à la liste des réalisateurs</a>
    </div>
    {{ include('back/director/_form.html.twig', {'button_label': 'Modifier'}) }}

    {{ include('back/director/_delete_form.html.twig') }}
{% endblock %}
